<h1>Editing denounce</h1>

<%= turbo_frame_tag 'denounce' do %>
  <%= render "form", denounce: @denounce %>
<% end %>


<br>

<div>
  <%= link_to "Show this denounce", @denounce %> |
  <%= link_to "Back to denounces", denounces_path %>
</div>
